.education-image {
    order: 2;
    grid-column: span 2;
    background: url(../media/images/education-img.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    // width: 100;
}

.education-info{
    order: 1;
    grid-column: span 2;
    background-color: $yellowish;
    // &:nth-child(3){
    //     padding-bottom: 2rem;
    // }
    h2 {
        padding: 2rem 0;
        color: #FCDFD5;
        font-size: 2rem;
    }
    h3 {
        margin-top: -1rem;
        color: #F7DCB3;
        font-size: 0.8rem;
        margin-bottom: 2rem;
    }
}


.education-details {
    padding: 1rem 0;
    .laptop{
        color: #FFFEFE;
        padding-right: 2rem;
        font-size: 2rem;
    }
    .education-description{
        line-height: 1.5;
        h4 {
            color: #F8DFBA;
            font-size: 1.2rem;
            span {
                color: #91741B;
                font-size: 0.9rem !important;
                margin-left: 0.5rem;
            }
        }
        p{
            color: #F5D7A6;
            font-size: 0.8rem;
        }
    }

}


// responsive
@media screen and (max-width:768px) {
    .education {
        .container-grid {
            grid-template-columns: 1fr;
            .education-info{
                padding: 2rem !important;
            }
        }

    }
    .education-image{
        height: 100vh;
    }
}