.show-map {
    display: grid;
    grid-column: span 4;
    background-color: $orange;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:768px) {
    .map {
        .container-grid{
            grid-template-columns: 1fr;
            .show-map {
                padding: 2rem !important;
                justify-content: center;
                align-items: center;
            }
            iframe {
                width: 100%;
            }
        }
    }
    
}